@media (min-width: 576px) {
    .card {
        min-width: 46%;
    }
}

@media (min-width: 992px) { 
    .card {
        min-width: 35%;
    }
 }

@media (min-width: 1200px) {
    .card {
        min-width: 31%;
    }
 }